 
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/Error.cshtml";
}

<article style="min-height:600px;">
    <h1>Desculpe aconteceu um erro inesperado.</h1>
    <a href="../Home/Index">~/Views/Home/Index.cshtml<button class="btn btn-default">Voltar para Home</button></a>
</article>

